[submodule "snarkVM"]
	path = snarkVM
	url = ../snarkVM.git
[submodule "gnark"]
	path = gnark
	url = ../gnark.git
[submodule "aleo-std"]
	path = aleo-std
	url = ../aleo-std.git
[submodule "gnark-circuit-gen"]
	path = gnark-circuit-gen
	url = ../gnark-circuit-gen.git
